.notification {
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 18px;
    font-weight: 500;
    transform: translate(-50%, -50%);
    background-color: var(--success);
    color: white;
    padding: 16px;
    z-index: 1000;
    opacity: 0;
    animation: showNotification 5s forwards;
    padding: 20px 30px;
    border-radius: var(--border-radius);
}

@keyframes showNotification {
    0% {
        opacity: 0;
        transform: translate(-50%, -40%);
    }

    10%,
    90% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    100% {
        opacity: 0;
        display: none;
    }
}