.block {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-accent-text-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    min-width: 200px;
    border-radius: var(--border-radius);
    z-index: 200;
}

.text {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

.link {
    color: var(--tg-theme-link-color);
    text-decoration: none;
    width: 100%;
    text-align: left;
}