.block {
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    min-width: 200px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-accent-text-color);
    border-radius: var(--border-radius);
    z-index: 200;
    overflow: hidden;
}

.title {
    font-size: 30px;
    font-weight: 500;
    text-align: left;
    z-index: 200;
}

.description {
    font-size: 14px;
    z-index: 200;
}

.link {
    color: var(--tg-theme-link-color);
    text-decoration: none;
    width: 100%;
    text-align: left;
    z-index: 200;
}

.confettiContainer {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100;
}

.confettiPiece {
    position: absolute;
    top: 0;
    left: var(--x);
    width: 8px;
    height: 8px;
    border-radius: 2px;
    opacity: 1;
    background-color: currentColor;
    animation: fall 10s ease-out infinite;
    animation-delay: var(--delay);
}

/* Цветовое чередование */
.confettiPiece:nth-child(4n) {
    background-color: #FFC700;
}

.confettiPiece:nth-child(4n+1) {
    background-color: #FF0000;
}

.confettiPiece:nth-child(4n+2) {
    background-color: #41BBC7;
}

.confettiPiece:nth-child(4n+3) {
    background-color: #2E3192;
}

@keyframes fall {
    from {
        transform: translateY(-10px) rotate(var(--rot));
        opacity: 1;
    }

    to {
        transform: translateY(100vh) rotate(calc(var(--rot) + 360deg));
        opacity: 0;
    }
}