.danger {
    gap: 10px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    color: var(--tg-theme-destructive-text-color);
    width: fit-content;
    display: flex;
    align-items: center;
}

.danger svg {
    fill: var(--tg-theme-destructive-text-color);
    width: 20px;
    height: 20px;
}