.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    padding: 20px 40px;
    border-radius: var(--border-radius);
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    font-size: 30px;
    cursor: pointer;
    transition: all .4s ease;
    display: flex;
    align-items: center;
}

.button svg {
    fill: var(--tg-theme-text-color);
    width: 30px;
}

.button:hover {
    opacity: 0.8;
}