.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    width: 100%;
    border: 0;
    border-radius: var(--border-radius);
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    transition: all .4s ease;
    font-size: 20px;
    opacity: .9;
}

.button:hover {
    opacity: .8;
}

.successStyle {
    background-color: var(--success);
    color: white;
}