.header {
    padding: 3px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--tg-theme-hint-color);
    background-color: var(--tg-theme-bg-color);
    font-size: 12px;
}

.data {
    margin-top: 0px;
}