.button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    border: 0;
    border-radius: var(--border-radius);
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    transition: transform .4s ease, opacity .4s ease;
    font-size: var(--l-font-size);
}

.button:hover {
    opacity: .8;
}

.button:active {
    transform: scale(0.98);
}

.successStyle {
    background-color: var(--success);
    color: white;
}

.sizeS {
    padding: 10px 15px;
    font-size: var(--m-font-size);
}