.audioContainer {
    display: flex;
    align-items: center;
}

.playButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--tg-theme-hint-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--tg-theme-hint-color);
    text-align: center;
    display: inline-block;
    font-size: var(--xs-font-size);
    padding: 5px 10px;
}

.playButton svg {
    width: 15px;
    fill: var(--tg-theme-text-color)
}