.arrow {
    position: relative;
    display: block;
    width: 10px;
    height: 10px;
    border-right: 1px solid var(--tg-theme-hint-color);
    border-bottom: 1px solid var(--tg-theme-hint-color);
    cursor: pointer;
    transition: .2s;
}

.bold {
    border-right: 3px solid var(--tg-theme-hint-color);
    border-bottom: 3px solid var(--tg-theme-hint-color);
}

.arrow:hover {
    border-right: 1px solid var(--tg-theme-hint-color);
    border-bottom: 1px solid var(--tg-theme-hint-color);
}

.bold:hover {
    border-right: 3px solid var(--tg-theme-hint-color);
    border-bottom: 3px solid var(--tg-theme-hint-color);
}

.arrow:hover .stick {
    border-top: 1px solid var(--tg-theme-hint-color);
}

.bold:hover .stick {
    border-top: 3px solid var(--tg-theme-hint-color);
}


.arrow .stick {
    position: absolute;
    width: 31px;
    bottom: 10px;
    right: -5px;
    height: 0px;
    border-top: 1px solid var(--tg-theme-hint-color);
    transform: rotate(-135deg);
}

.bold .stick {
    border-top: 3px solid var(--tg-theme-hint-color);
}


.left {
    transform: rotate(135deg);
}

.right {
    transform: rotate(315deg);
}

.up {
    transform: rotate(225deg);
}

.up .stick {
    position: absolute;
    width: 27px;
    right: -5.4px;
    bottom: 8px;
}

.down {
    transform: rotate(45deg);
}

.down .stick {
    position: absolute;
    width: 27px;
    right: -4px;
    bottom: 9px;
}

.sizeS {
    width: 18px;
    height: 18px;
    min-width: 18px;
    min-height: 18px;
}

.sizeS .stick {
    width: 25px;
    bottom: 8px;
    right: -4px;
}

.sizeXS {
    width: 11px;
    height: 11px;
}

.sizeXS .stick {
    width: 13px;
    bottom: 4px;
    right: -2px;
}

.rotate {
    transform: rotate(180deg);
}

/* Стили для whiteColor */
.arrow.whiteColor {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.bold.whiteColor {
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}

.arrow.whiteColor .stick {
    border-top: 1px solid white;
}

.bold.whiteColor .stick {
    border-top: 3px solid white;
}

.arrow.whiteColor:hover {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.bold.whiteColor:hover {
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}

.arrow.whiteColor:hover .stick {
    border-top: 1px solid white;
}

.bold.whiteColor:hover .stick {
    border-top: 3px solid white;
}