.examples {
    display: grid;
    gap: 10px;
}

.examples h4 {
    color: var(--tg-theme-hint-color);
}

.list {
    overflow-y: scroll;
    background-color: var(--tg-theme-bg-color);
    padding: 10px;
    border-radius: var(--border-radius);
    margin: 0px -10px;
    overflow: hidden;
    overflow-y: scroll;
    height: 200px;
}

.example {
    display: grid;
    gap: 5px;
    color: var(--tg-theme-text-color);
}

.tr {
    font-weight: 500;
}

.ru,
.tr {
    font-size: 13px;
}