.examples {
    display: grid;
    gap: 10px;
}

.examples h4 {
    color: var(--tg-theme-hint-color);
}

.list {
    overflow-y: scroll;
    background-color: var(--tg-theme-bg-color);
    padding: 10px;
    border-radius: var(--border-radius);
    margin: 0px -10px;
    overflow: hidden;
    overflow-y: scroll;
    height: 200px;
}

.example {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--tg-theme-text-color);
}

.tr {
    font-weight: 500;
}

.ru,
.tr {
    font-size: 13px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    padding: 10px;
    background-color: var(--tg-theme-bg-color);
    border-radius: var(--border-radius);
    color: var(--tg-theme-text-color);
}


.slide {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    height: 80%;
}