.link {
    display: flex;
    max-width: fit-content;
    text-decoration: none;
    text-align: left;
    align-items: center;
    font-size: var(--s-font-size);
}

.link span {
    color: var(--tg-theme-hint-color);
}

.link svg {
    color: var(--tg-theme-hint-color);
    fill: var(--tg-theme-hint-color);
}