.link {
    display: flex;
    max-width: fit-content;
    text-decoration: none;
    text-align: left;
    align-items: center;
    font-size: var(--xs-font-size);
    gap: 5px;
}

.link span {
    color: var(--tg-theme-hint-color);
}

.link svg {
    width: 10px;
    color: var(--tg-theme-hint-color);
    fill: var(--tg-theme-hint-color);
}