:root {
  --max-width: 768px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --light-grey: #f2f2f2;
  --dark: #1A2440;
  --regular: #5576D9;
  --middle: #A0BBF2;
  --light: #D5E2F2;
  --success: #25D952;
}

body {
  max-width: 768px;
  margin: 0 auto;
  font-size: 16px;
}