:root {
  --max-width: 768px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --light-grey: #f2f2f2;
  --dark: #1A2440;
  --regular: #5576D9;
  --middle: #A0BBF2;
  --light: #D5E2F2;
  --success: #25D952;

  /* --tg-theme-bg-color: white;
  --tg-theme-subtitle-text-color: #303030;
  --tg-theme-button-color: #5576D9;
  --tg-theme-hint-color: #595959; */

}

body {
  max-width: 768px;
  margin: 0 auto;
  font-size: 16px;
  background-color: var(--tg-theme-bg-color);
  box-sizing: border-box;
}


h1,
h2,
h3,
h4,
p,
blockquote,
span {
  margin: 0;
  padding: 0;
  color: var(--tg-theme-text-color);
}