.title {
    font-size: 25px;
    color: var(--tg-theme-accent-text-color);
}

.details {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    font-size: 17px;
    color: var(--tg-theme-section-header-text-color);
    align-items: center;
}

.transcription {
    font-size: 16px;
}