.footer {
    background-color: var(--tg-theme-bg-color);
    display: flex;
    justify-content: center;
    padding: 5px 20px;
}

.link {
    font-size: 12px;
    color: var(--tg-theme-link-color);
    text-decoration: none;
}