.buttonContainer {
    position: absolute;
    bottom: 30px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 768px;
    width: calc(100% - 40px);
    position: fixed;
    bottom: 20px;
    gap: 20px;
    justify-content: space-between;
}